@import "../../responsive.scss";

.agentsPage {
  padding: 50px;

  .agentsContainer {
    max-width: 1000px;
    margin: 0 auto;
  }

  .title {
    font-size: 3.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: #333;

    @include lg {
      font-size: 2.5rem;
    }

    @include md {
      font-size: 2rem;
    }

    @include sm {
      font-size: 1.8rem;
    }
  }

  .agentList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
  }

  .agentCard {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }

    img {
      width: 100%;
      max-width: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 10px;
      color: #444;
      font-size: 20px;
      font-weight: bold;
    }

    p {
      margin: 5px 0;
      color: #666;
    }
  }
}